[run]
source = src/app
branch = True
omit =
    */migrations/versions/*
    src/app/api/main.py
    src/app/api/server.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
skip_empty = True
